[user]    
  email = vovchikzd@gmail.com
  name = vovchikzd
[core]
  editor = nvim
  compression = 9
  whitespace = error
  preloadindex = true
  commentChar = "//"
  commentString = "//"
[diff]
  external = difft
  renames = copies
[difftool]
  prompt = false
[pager]
  difftool = true
[init]
  defaultBranch = master
[rebase]
  autoStash = true
  updateRefs = true
  autoSquash = false
  missingCommitsCheck = warn
[remote "origin"]
  prune = true
[fetch]
  prune = true
  pruneTags = true
[pull]
  ff = only
[advice]
  addIgnoredFile = false
[status]
  branch = true
  showStash = true
  showUntrackedFiles = all
[push]
  autoSetupRemote = true
  default = current
[color "decorate"]
  HEAD = red
  branch = blue
  tag = yellow
  remoteBranch = magenta
[color "branch"]
  current = magenta
  local = cyan
  remote = yellow
  upstream = green
  plain = blue
[log]
	date = format:%d.%m.%Y %I:%M:%S %p
[blame]
	date = format:%d.%m.%Y %I:%M:%S %p
[merge]
  conflictStyle = "diff3"
[clean]
  requireForce = false
[alias]
  lg = "log --graph --shortstat --pretty=format:'%C(magenta)%h %C(white) %an %C(brightcyan)%ad%C(auto) %D%n%B%C(yellow)%N'"
  history = "log -p --ext-diff --pretty=format:'%an%n%C(magenta)%H %C(brightcyan)%ad %C(auto)%n%s'"
  sw = switch
  dt = switch --detach
  br = branch
  ba = branch -a
  mr = merge
  sq = merge --squash
  cx = cherry-pick -x
  st = status
  cl = clean -d
  rlb = !git reset --hard HEAD && git clean -d
