[user]
	email = vovchikzd@gmail.com
	name = Vladimir Zdorenko
[core]
	editor = nvim
[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[alias]
  dft = difftool
[init]
	defaultBranch = master
[pull]
	rebase = true
[rebase]
	autoStash = true
[remote "origin"]
	prune = true
[fetch]
	prune = true
[advice]
	addIgnoredFile = false
